{% extends 'base.html.twig' %}

{% block content %}
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ path('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="images/hat.png" class="bi me-2" role="img" id="santa-hat" width="40" height="40">
                </a>

                <h2 class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    Секретный санта
                </h2>
            </div>
        </div>
    </header>

    {% block page_contents %}{% endblock %}
{% endblock %}