{% extends 'layout.html.twig' %}

{% block title %}Secret santa app{% endblock %}

{% block page_contents %}
    <div class="container">
        <div class="py-5">
            <h5>Список игроков:</h5>
            <div class="row">
                <ul class="col-md-6 list-group list-group-flush">
                    {% for player in players %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ player.email }} <b>-></b> {{ player.anotherPlayer.email ?? '???' }}
                            <a href="{{ path('delete', {'id': player.id}) }}" class="btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if players|length < 4 %}
                <div class="alert alert-success" role="alert">
                    Для начала игры добавьте минимум 4 игроков
                </div>
                {% else %}
                    <a href="{{ path('shake') }}" class="btn btn-outline-primary mt-4">
                        1. Перемешать
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                        </svg>
                    </a>
                    <br/>
                    <a href="{{ path('send-letters') }}" class="btn btn-outline-danger mt-4">
                        2. Отправить письма
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
        <h5 class="mb-3">Добавить игрока:</h5>
        <div class="row">
            <div class="col-md-6">
            {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}